// DARKTHEME 
$dark-background: #263238;
$dark-background-2: rgba(255, 255, 255, 0.05);
$dark-background-3: rgba(53, 64, 70, 0.5);
$dark-background-shade: rgba(38, 50, 56, 0.1);

$dark-text: #FFF;
$dark-text-2: #eaeaea;
$dark-text-3: rgba(255, 255, 255, 0.5);

$dark-border: solid 1px rgba(237, 237, 238, 0.2);

// LIGHT THEME
$light-background: #FFF;
$light-background-2: #CED3DA;
$light-background-3: rgba(0, 128, 0, 0.05);
$light-background-4: rgba(242, 248, 242, 0.5);

$light-text: #263238;
$light-text-2: #404547;
$light-text-3: rgba(38, 50, 56, 0.8);


$light-border: solid 1px rgba(38, 50, 56, 0.7);

// COLORS
$green: #23b123;
$green-2: #008000;
$green-shade: rgba(35, 177, 35, 0.1);
$green-border: 1px solid #008000;


// FONT SIZES
$f-xs: 0.8rem;
$f-s: 0.93rem;
$f-sm: 1rem;
$f-md: 1.05rem;
$f-md-2: 1.25rem;
$f-lg: 1.35rem;
$f-xl: 1.75rem;
$f-xls: 2rem;
$f-xxl: 2.2rem;
$f-xxxl: 2.85rem;
$f-mega: 3.2rem;
$f-mega-2: 4.3rem;

// PADDING
$p-sm: 0.5rem;
$p-1: 1rem;
$p-1s: 1.5rem;
$p-2: 2rem;
$p-2s: 2.5rem;
$p-3: 3rem;
$p-3s: 3.5rem;
$p-4: 4rem;
$p-4s: 4.5rem;
$p-5: 5rem;
$p-5s: 5.5rem;
$p-6: 6rem;
$p-6s: 6.5rem;
